// Body
$body-bg: #f8fafc;

// Typography
$titlesFont:'Barlow Semi Condensed', sans-serif;
$contentFont:'Montserrat', sans-serif;
$titleWeight:500;
// The ones they came automatic
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// COLORS
$backgroundColor:#a389ff02;
$details1Color:#00f5c2;
$details2Color:#2a64d0;
$details3Color:#9ec3f0;
$details4Color:#fcdde9;
$navColor:#5000d6b5;
$textColor:white;
$buttonColor:#cf00fd;

